.col-view {
	height: calc(100vh - #{$tools-height});
	width: $col-view-width;
	min-width: $col-view-width;
	font-size: 12px;
}

.view-row {
	height: 40px;
	gap: 8px;
}

.view-section {
	padding: 8px;
}

.view-icon {
	height: 20px;
	width: 20px;
}
